.about-constitution {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 15rem;
}

.constitution-title h1 {
    font-size: 2rem;
    text-align: center;
}

.about-constitution h2 {
    line-height: 1.5;
}

li, p {
    line-height: 1.5;
}

.about-constitution p {
    text-align: left;
}

ol {
    list-style-type: lower-alpha;
    list-style-position: outside;
}