.about-history {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 15rem;
}

.history-title {
    text-align: center;
}

.history-title h1 {
    font-size: 2rem;
}

.history-main p {
    text-indent: 30px;
}