/* Header.css */

header {
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clsni-logo {
    width: 30%;
    max-width: 200px;
    height: auto;
}

.nav {
    display: flex;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 8px 16px;

}

.nav-item:hover {
    background-color: #85bc4d;
}
