/* Header.css */

header {
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clsni-logo {
        margin-left: 100px;
        width: 50%;
        max-width: 400px;
        height: auto;
}

@media only screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .clsni-logo {
        margin-left: 0;
        margin-bottom: 20px;
    }

}
